*{margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#mainPageCircle{
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
}

#mainPageCircle h1{
    font-family: 'Rammetto One', cursive;
    font-size: 14vh;
    pointer-events: none;
}

#mainPageCircle p{
    font-family: 'Nova Square', cursive;
    font-size: 3vh;
    pointer-events: none;
}

.circleSmall{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: #fff28f;
    transition: 0.2s;
    opacity: 0;
    animation: fadeIn 0.2s linear;
    position: absolute;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}