*{margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#mainPageCircle{
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    background-color: #f74d40;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    transition: 1s;
}

#mainPageCircle h1{
    font-family: 'Rammetto One', cursive;
    font-size: 14vh;
    pointer-events: none;
}

#mainPageCircle p{
    font-family: 'Nova Square', cursive;
    font-size: 3vh;
    pointer-events: none;
}

#link{
    height: 5vw;
    width: 15vw;
    border-width:  0px 5px 5px 0px ;
    border-color:  white;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 1s;
}


#link h1{
    color: white;
    font-family: 'Nova Square', cursive;  
    font-size: 3vh;
}

.circleSmall{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: #fff28f;
    transition: 0.2s;
    opacity: 0;
    animation: fadeIn 0.2s linear;
    position: absolute;
}

.circleMid{
    height: 28vh;
    width: 28vh;
    border-radius: 50%;
    background-color: #f74d40;
    transition: 0.2s;
    opacity: 0;
    animation: fadeIn 0.2s linear;
    position: absolute;
}

.circleBig{
    height: 34vh;
    width: 34vh;
    border-radius: 50%;
    background-color: #f74d40;
    transition: 0.2s;
    opacity: 0;
    animation: fadeIn 0.2s linear;
    position: absolute;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

#title{
    font-family: 'Rammetto One', cursive;
    font-size: 20vh;
    color: blue;
    letter-spacing: 1vw;
    margin-left: 5vw;
    animation: type 0.3s steps(60, end); 
    width: 6em;
    overflow: hidden;
    position: absolute;
    transition: 1s;
}

#subTitle{
    font-family: 'Nova Square', cursive;
    font-size: 5vh;
    color: blue;
    letter-spacing: .5vw;
    margin-left: 5vw;
    margin-top: 18vw;
    overflow: hidden;
    position: absolute;
    transition: 1s;
}

@keyframes type{ 
  from { width: 0; } 
} 

#titleContainer{
    position: absolute;
    height: 200px;
    left: 18vw;
    width: 1000px;
    display: flex;
    align-items: center;
}

h2{
    font-family: 'Nova Square', cursive;
    font-size: 3vh;
    position: absolute;
    bottom: 0;
    color: white;
    transition: 1s;
}